@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.app {
  max-width: 400px;
  width: 50%;
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  margin: auto;
} 